.shopify-toc {
  --spacing: 4px;
  --toc-border-color: #0000001f;
  --toc-border-width: 1px;
  --toc-border-radius: 12px;
  --toc-background: #ffffff;
  --toc-max-width: none;
  --toc-padding-top: 16px;
  --toc-padding-bottom: 16px;
  --toc-padding-left: 16px;
  --toc-padding-right: 16px;
  --toc-title-font-size: 14px;
  --toc-title-font-color: #575757;
  --toc-title-font-weight: 600;
  --toc-headings-font-size: 14px;
  --toc-headings-font-color: #575757;
  --toc-headings-font-weight: 400;
  --toc-show-button-height: 300px;
  --toc-show-button-font-size: 13px;
  --toc-show-button-font-color: #575757;
  --toc-show-button-font-weight: 600;
  --toc-show-button-border-color: #575757;
  --toc-show-button-border-width: 0px;
  --toc-show-button-border-radius: 0px;
  --toc-mobile-border-color: #0000001f;
  --toc-mobile-border-width: 0px;
  --toc-mobile-border-radius: 12px;
  --toc-mobile-background: #ffffff;
  --toc-mobile-max-width: none;
  --toc-mobile-padding-top: 0px;
  --toc-mobile-padding-bottom: 0px;
  --toc-mobile-padding-left: 0px;
  --toc-mobile-padding-right: 0px;
  --toc-mobile-title-font-size: 14px;
  --toc-mobile-title-font-color: #575757;
  --toc-mobile-title-font-weight: 600;
  --toc-mobile-headings-font-size: 14px;
  --toc-mobile-headings-font-color: #575757;
  --toc-mobile-headings-font-weight: 400;
  --toc-mobile-show-button-height: 300px;
  --toc-mobile-show-button-font-size: 13px;
  --toc-mobile-show-button-font-color: #575757;
  --toc-mobile-show-button-font-weight: 600;
  --toc-mobile-show-button-border-color: #575757;
  --toc-mobile-show-button-border-width: 0px;
  --toc-mobile-show-button-border-radius: 0px;
  --toc-active-title-font-size: var(--toc-title-font-size);
  --toc-active-title-font-color: var(--toc-title-font-color);
  --toc-active-title-font-weight: var(--toc-title-font-weight);
  --toc-active-headings-font-size: var(--toc-headings-font-size);
  --toc-active-headings-font-color: var(--toc-headings-font-color);
  --toc-active-headings-font-weight: var(--toc-headings-font-weight);
  --toc-active-background: var(--toc-background);
  --toc-active-max-width: var(--toc-max-width);
  --toc-active-show-button-height: var(--toc-show-button-height);
  --toc-active-button-font-size: var(--toc-show-button-font-size);
  --toc-active-button-font-color: var(--toc-show-button-font-color);
  --toc-active-button-font-weight: var(--toc-show-button-font-weight);
  --toc-active-button-border-color: var(--toc-show-button-border-color);
  --toc-active-button-border-width: var(--toc-show-button-border-width);
  --toc-active-button-border-radius: var(--toc-show-button-border-radius);
  border: var(--toc-border-width) solid var(--toc-border-color);
  border-radius: var(--toc-border-radius);
  padding-top: var(--toc-padding-top);
  padding-right: var(--toc-padding-right);
  padding-bottom: var(--toc-padding-bottom);
  padding-left: var(--toc-padding-left);
  background: var(--toc-active-background);
  max-width: var(--toc-active-max-width);
}

.shopify-toc__title {
  margin-bottom: 4px;
  letter-spacing: 0.75px;
  color: var(--toc-active-title-font-color);
  font-size: var(--toc-active-title-font-size);
  font-weight: var(--toc-active-title-font-weight);
}

.shopify-toc__list {
  list-style: none;
  margin: 0;
  padding-left: 12px;
  max-height: none;
  overflow: visible;
}

.shopify-toc__sublist {
  list-style: none;
  margin: 4px 0 0;
  padding-left: 12px;
}

.shopify-toc--markers-none .shopify-toc__list,
.shopify-toc--markers-none .shopify-toc__sublist {
  list-style: none;
}

.shopify-toc--markers-bullet .shopify-toc__list,
.shopify-toc--markers-bullet .shopify-toc__sublist {
  list-style: none;
}

.shopify-toc--markers-numeric .shopify-toc__list,
.shopify-toc--markers-numeric .shopify-toc__sublist {
  list-style: none;
  counter-reset: item;
}

.shopify-toc--markers-bullet .shopify-toc__list,
.shopify-toc--markers-bullet .shopify-toc__sublist,
.shopify-toc--markers-numeric .shopify-toc__list,
.shopify-toc--markers-numeric .shopify-toc__sublist {
  list-style-position: inside;
}

.shopify-toc--markers-bullet .shopify-toc__list a::before,
.shopify-toc--markers-bullet .shopify-toc__sublist a::before {
  content: "• ";
  color: var(--toc-active-headings-font-color);
}

.shopify-toc--markers-numeric .shopify-toc__list li,
.shopify-toc--markers-numeric .shopify-toc__sublist li {
  counter-increment: item;
}

.shopify-toc--markers-numeric .shopify-toc__list a::before,
.shopify-toc--markers-numeric .shopify-toc__sublist a::before {
  content: counters(item, ".") ". ";
  color: var(--toc-active-headings-font-color);
}

.shopify-toc--flat .shopify-toc__list,
.shopify-toc--flat .shopify-toc__sublist {
  padding-left: 0;
  padding-right: 0;
}

.shopify-toc--align-left {
  text-align: left;
}

.shopify-toc--align-center {
  text-align: center;
}

.shopify-toc--align-center .shopify-toc__list,
.shopify-toc--align-center .shopify-toc__sublist {
  padding-left: 0;
  padding-right: 0;
}

.shopify-toc--align-right {
  text-align: right;
}

.shopify-toc--align-right .shopify-toc__list,
.shopify-toc--align-right .shopify-toc__sublist {
  padding-left: 0;
}

.shopify-toc--align-right:not(.shopify-toc--flat) .shopify-toc__list,
.shopify-toc--align-right:not(.shopify-toc--flat) .shopify-toc__sublist {
  padding-right: 12px;
}

.shopify-toc__list li {
  text-align: inherit;
  margin: 4px 0;
}

.shopify-toc__list a {
  display: inline-block;
  font-size: var(--toc-active-headings-font-size);
  color: var(--toc-active-headings-font-color);
  font-weight: var(--toc-active-headings-font-weight);
  text-decoration: none;
  cursor: pointer;
}

.shopify-toc__list a:hover .shopify-toc__link-label {
  text-decoration-line: underline;
}

.shopify-toc__list a.is-current .shopify-toc__link-label {
  text-decoration-line: underline;
}

.shopify-toc--show-more-active .shopify-toc__list {
  max-height: var(--toc-active-show-button-height);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.shopify-toc--show-more-active.shopify-toc--expanded .shopify-toc__list {
  max-height: calc(100vh - 240px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.shopify-toc__toggle {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  border: var(--toc-active-button-border-width) solid
    var(--toc-active-button-border-color);
  border-radius: var(--toc-active-button-border-radius);
  background: transparent;
  padding: calc(var(--toc-active-button-border-width) * 2)
    calc(var(--toc-active-button-border-width) * 6);
  font-size: var(--toc-active-button-font-size);
  font-weight: var(--toc-active-button-font-weight);
  color: var(--toc-active-button-font-color);
  text-decoration: none;
  cursor: pointer;
}

.shopify-toc__toggle:hover {
  text-decoration: underline;
}

.shopify-toc__toggle[hidden] {
  display: none;
}

.toc-fade {
  pointer-events: none;
  height: calc(var(--spacing) * 6);
  display: block;
  position: relative;
}

.toc-fade--top {
  margin-bottom: calc(var(--spacing) * -6);
}

.toc-fade--bottom {
  margin-top: calc(var(--spacing) * -6);
}

.toc-fade__shim {
  display: block;
  height: 100%;
}

.toc-fade--top::after {
  content: "";
  inset: calc(var(--spacing) * 0);
  background: linear-gradient(var(--toc-active-background), transparent);
  position: absolute;
}

.toc-fade--bottom::after {
  content: "";
  inset: calc(var(--spacing) * 0);
  background: linear-gradient(transparent, var(--toc-active-background));
  position: absolute;
}

.toc-fade[hidden] {
  display: none;
}

.toc-preview-float .shopify-toc {
  box-sizing: border-box;
  width: 100%;
}

.shopify-toc[data-device="mobile"] {
  --toc-active-title-font-size: var(--toc-mobile-title-font-size);
  --toc-active-title-font-color: var(--toc-mobile-title-font-color);
  --toc-active-title-font-weight: var(--toc-mobile-title-font-weight);
  --toc-active-headings-font-size: var(--toc-mobile-headings-font-size);
  --toc-active-headings-font-color: var(--toc-mobile-headings-font-color);
  --toc-active-headings-font-weight: var(--toc-mobile-headings-font-weight);
  --toc-active-background: var(--toc-mobile-background);
  --toc-active-max-width: var(--toc-mobile-max-width);
  border-color: var(--toc-mobile-border-color);
  border-width: var(--toc-mobile-border-width);
  border-radius: var(--toc-mobile-border-radius);
  padding-top: var(--toc-mobile-padding-top);
  padding-right: var(--toc-mobile-padding-right);
  padding-bottom: var(--toc-mobile-padding-bottom);
  padding-left: var(--toc-mobile-padding-left);
  --toc-active-show-button-height: var(--toc-mobile-show-button-height);
  --toc-active-button-font-size: var(--toc-mobile-show-button-font-size);
  --toc-active-button-font-color: var(--toc-mobile-show-button-font-color);
  --toc-active-button-font-weight: var(--toc-mobile-show-button-font-weight);
  --toc-active-button-border-color: var(--toc-mobile-show-button-border-color);
  --toc-active-button-border-width: var(--toc-mobile-show-button-border-width);
  --toc-active-button-border-radius: var(
    --toc-mobile-show-button-border-radius
  );
}
